.completed-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 10px;
}

.completed-item {
  background: #86e286;
  border-left: 6px solid rgb(216, 226, 216);
  margin-bottom: 12px;
  padding: 15px;
  border-radius: 8px;
}

.completed-item h1 {
  margin: 0;
  font-size: 22px;
}
